### Pastas e outros
resources/
.metadata/
.obsidian/
.swp
testes/*

### Sublimes inuteis
*.sublime-workspace
*.sublime-project
*project
*classpath

### Compiled class file
*.class

### Log file
*.log
 
/bin/

